:root {
    --body-bg: #8b5150;
    --main-container-bg: #a2645d;
    --sub-container-bg: #d18a6b;
    --button-bg: #bc7462;
    --button-content: #713d3f;
    --list-items: #713d3f;
}

body {
    background-color: var(--body-bg);
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    font-family: 'Oswald', sans-serif;
}

p {
  opacity: 0.5;
  color: var(--list-items);
  margin: 0 auto;
}

button {
    height: 28px;
    width: 40px;
    font-family: 'Oswald', sans-serif;
  
    -webkit-appearance: none;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: var(--button-content)
                  var(--button-content) 
                  var(--button-content);
}

#all-controls {
    display: grid;
    width: 40%;
    background-color: var(--main-container-bg);
    border-radius: 10px;
    padding: 30px;
    margin: 10em auto;
}

#top-controls-container {
    display: grid;
    grid-gap: 10px;
    width: 200px;
    margin: auto;
    padding: 20px 20px;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--sub-container-bg);
    border-radius: 20px;
}
.top-icons {
    margin: auto;
}

#stop-button {
    background-color: var(--button-bg);
}
#stop-button:hover {
    background-color: var(--main-container-bg);
}
#stop-icon {
    width: 13px;
    height: 13px;
    background-color: var(--button-content);
}

#play-button {
    background-color: var(--button-bg);
}
#play-button:hover {
    background-color: var(--main-container-bg);
}
#play-icon {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 15px solid var(--button-content);
    border-bottom: 7px solid transparent;
}

#pause-button {
    display: inline-grid;
    grid-template-columns: 1em 1em;
    background-color: var(--button-bg);
}
#pause-button:hover {
    background-color: var(--main-container-bg);
}
.pause-icons {
    width: 5px;
    height: 13px;
    margin: 4px 2px;
    background-color: var(--button-content);
}

#skip-button {
    display: inline-grid;
    grid-template-columns: 1em 1em;
    background-color: var(--button-bg);
}
#skip-button:hover {
    background-color: var(--main-container-bg);
}
.skip-icons {
    display: grid;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid var(--button-content);
    border-bottom: 6px solid transparent;
}

#repeat-label {
  font-size: 15px;
  color: var(--button-content);
  opacity: 0.85;
  margin: auto;
}
.repeat-buttons {
    color: var(--button-content);
    background-color: var(--button-bg);
}
.repeat-buttons:hover {
    background-color: var(--main-container-bg);
}

#copier-container {
    display: grid;
    margin: 15px;
}
#copier {
    line-height: 4px;
    background-color: var(--button-bg);
    color: var(--button-content);
    margin: auto;
    font-size: 20px;
    width: 100px;
    height: 35px;
}
#copier:hover {
    background-color: var(--main-container-bg);
}

#tracklist-container {
    background-color: var(--sub-container-bg);
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}
.tracklist-entries {
    display: inline-block;
    color: var(--list-items);
}

input[type=radio] {
    opacity: 0;
}
label:hover {
    color: var(--main-container-bg);
}
label:active {
    color: var(--main-container-bg);
}
input:focus + label {
    text-shadow: 1px 1px 1px var(--main-container-bg);
}

/** (TOGGLED) ADD TRACK LIST ENTRY FORM **/

#add-form-container {
    display: none;
    background-color: var(--sub-container-bg);
    width: 40%;
    margin: 15px auto 0 auto;
    text-align: center;
    padding: 15px 0 5px 0;
    border-radius: 10px;  
}
input[type='text']{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: var(--button-content);
    background-color: var(--button-bg);
    text-transform: uppercase;
}
input[type='text']::placeholder {
    opacity: 0.25;
    color: var(--button-content);
}

#submit-add-form {
    font-family: 'Oswald', sans-serif;
    background-color: var(--button-bg);
    color: var(--button-content);
    margin: 15px auto 15px auto;
    font-size: 15px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 4px;

    -webkit-appearance: none;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: var(--button-content)
                  var(--button-content) 
                  var(--button-content);
}


/** SCREEN-BOTTOM CONTROLS (LOAD, ADD, SAVE, CLEAR **/

#lower-buttons-container {
    display: grid;
    grid-gap: 5px 10px;
    margin: 10px auto 0 auto;
    grid-template-columns: repeat(2, 1fr);
}

#upload-label {
    display: inherit;
}
#load-button {
    line-height: 30px;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: var(--button-content)
                  var(--button-content) 
                  var(--button-content);
}

.lower-buttons {
    background-color: var(--button-bg);
    color: var(--button-content);
    margin: 5px auto;
    font-size: 20px;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 4px;
}
.lower-buttons:hover, #load-button:hover, #submit-add-form:hover {
    background-color: var(--main-container-bg);
}


/** OFF-SCREEN ELEMENTS () **/

#clipboard-textarea {
    opacity: .01;
    height:0;
    position:absolute;
    z-index: -1;
}

input[type='file'] {
    opacity: .01;
    height:0;
    position:absolute;
    z-index: -1;
}